apiVersion: apps/v1
kind: Deployment
metadata:
  annotations:
    tad.gitops.set/image: ".spec.template.spec.containers[0].image"
    tad.gitops.get/image: ".spec.template.spec.containers[0].image"
    tad.gitops.set/replicas: ".spec.replicas"
    tad.gitops.get/replicas: ".spec.replicas"
  name: backend-tests-go-jughjtbx
spec:
  replicas: 1
  template:
    spec:
      containers:
        - image: quay.io/rhtap_qe/backend-tests-go-jughjtbx:2a705f9c8983fcda134fcc2e59f220702f0c61e3@sha256:b6c6b9b627d26f549dceb91dc3714466dd44a7e82a5fc1505ad0dca31edf65ac
          name: container-image
